html{
  font-size: 62.5%;
}

%lato {
  font-family: Lato;
};

%font-small{
  font-size: 1.2rem;
  font-weight: 500;
}
%font-big{
  font-size: 1.4rem;
  font-weight:600;
}

%font-lite-big{
  font-size: 1.7rem;
  font-weight: 500;
}

%huge{
  font-size: 2.4rem;
}